#
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

# Firmware directory Path
# Below macro will be read by uevent and path will
# be added to search path for firmware loading
firmware_directories /vendor/firmware_mnt/image/

# Trustonic TEE device
/dev/mobicore             0600   system     system
/dev/mobicore-user        0666   system     system

# Add device block for MISC
/dev/block/platform/soc/7464900.sdhci/by-name/misc       0660   root     system
/dev/block/platform/soc/624000.ufshc/by-name/misc        0660   root     system
/dev/block/platform/soc/1da4000.ufshc/by-name/misc       0660   root     system
/dev/block/platform/soc/c0c4000.sdhci/by-name/misc       0660   root     system
/dev/block/platform/soc/1d84000.ufshc/by-name/misc       0660   root     system
/dev/block/platform/soc/7c4000.sdhci/by-name/misc        0660   root     system
/dev/block/platform/soc/4744000.sdhci/by-name/misc       0660   root     system
/dev/block/platform/soc/4804000.ufshc/by-name/misc       0660   root     system

# I2C
/dev/i2c-*               0660   system     system

# change permission for some capsensor nodes
/sys/class/sensors/Moto\ CapSense\ Ch*   enable       0660    root    input
/sys/class/sensors/Moto\ CapSense\ Ch*   poll_delay   0660    root    input

# fps device node
/dev/fpsensor                                           0660   system     system
/dev/goodix_fp                                          0664   system     system
/dev/esfp0                                              0664   system     system
/dev/silead_fp                                          0664   system     system

# Change permission for FPC fingerprint
/sys/class/fingerprint/fpc1020 nav        0440     system    system
/sys/class/fingerprint/fpc1020 irq        0440     system    system
/sys/class/fingerprint/fpc1020 irq_cnt    0440     system    system
/sys/class/fingerprint/fpc1020 dev_enable 0220     system    system
/sys/class/fingerprint/fpc1020 vendor     0444     system    system
